<requirestaff user="ctrl.me" error="true">
  <staffheader></staffheader>

  <div ng-include src="'/views/tools/sidebar.html'"></div>

  <br>
  <div class="small-12 large-9 columns">

    <div class="row">
      <h3>Exports <span class="small grey">Download stuff.</span></h3>
    </div>

    <div class="row">
      <p><a href="{{ctrl.attendees}}">Download a CSV of all the attendees</a></p>
      <p><a href="{{ctrl.resumes}}">Download the resume book as a zip file</a></p>
    </div>

  </div>

</requirestaff>