<requirestaff user="urls.me" error="true">
  <staffheader></staffheader>

  <div ng-include src="'/views/tools/sidebar.html'"></div>

  <br>
  <div class="small-12 large-9 columns">

    <div class="row">
      <h3>URL Shortener <span class="small grey">{{urls.all.length}} URLs shortened</span></h3>
    </div>

    <!-- Errors, if there are any -->
    <div ng-if="urls.errors">
      <div data-alert class="alert-box alert">
        <span ng-repeat="error in urls.errors">{{error}}<br></span>
        <a href="#" class="close">&times;</a>
      </div>
    </div>

    <div class="row">
      <form>
        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <span class="prefix">khe.io/</span>
          </div>
          <div class="small-9 large-10 columns">
            <input type="text" ng-model="urls.single.new.short" placeholder="short" required>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-10 columns">
            <input type="text" ng-model="urls.single.new.full" placeholder="Full URL" required>
          </div>
          <div class="small-2 columns">
            <button ng-click="urls.single.save()" class="button postfix">Save</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row expandable-list-item" ng-repeat="url in urls.all">
      <div class="row header">
        <div class="small-11 columns">
          <span class="large bold">/{{url.short}}</span><br>
          <a href="{{url.full}}">{{url.full}}</a>
        </div>
        <div class="small-1 columns">
          <a ng-click="urls.single.remove(url)" class="black"><i class="fa fa-trash fa-3x"></i></a>
        </div>
      </div>
    </div>

  </div>

</requirestaff>