<requirestaff user="home.user" error="true">
  <staffheader></staffheader>
  <staffsidebar>
      <li><a ng-click="home.filterCharts()">All</a></li>
      <li><a ng-click="home.filterCharts({status: 'approved'})">Approved</a></li>
      <li><a ng-click="home.filterCharts({probable: true})">Probable</a></li>
      <li><a ng-click="home.filterCharts({going: true})">RSVPd</a></li>
      <li><a ng-click="home.filterCharts({checked: true})">Checked In</a></li>
    </staffsidebar>

    <br>
    <div class="small-12 large-9 columns">

      <!-- Errors, if there are any -->
      <div ng-if="home.errors">
        <div data-alert class="alert-box alert">
          <span ng-repeat="error in home.errors">{{error}}<br></span>
          <a href="#" class="close">&times;</a>
        </div>
      </div>

      <div class="row">
        <h3>Dashboard <span class="small grey">Enjoy some numbers.</span></h3>
      </div>

      <registrations ng-if="home.registrations.graph" graph="home.registrations.graph"></registrations>
      <shirts ng-if="home.shirts.graph" graph="home.shirts.graph"></shirts>
      <dietary ng-if="home.dietary.graph" graph="home.dietary.graph"></dietary>
      <gender ng-if="home.gender.graph" graph="home.gender.graph"></gender>
      <schools ng-if="home.schools.graph" graph="home.schools.graph"></schools>

    </div>
</requirestaff>