<requirestaff user="ctrl.me" error="true">

  <staffheader></staffheader>
  <staffsidebar>
    <li><a ng-click="ctrl.filter.apply('all')">All ({{ctrl.all.length}})</a></li>
    <li><a ng-click="ctrl.filter.apply('open')">Open ({{ctrl.open.length}})</a></li>
    <li><a ng-click="ctrl.filter.apply('in progress')">In Progress ({{ctrl.progress.length}})</a></li>
    <li><a ng-click="ctrl.filter.apply('closed')">Closed ({{ctrl.closed.length}})</a></li>
  </staffsidebar>

  <br>
  <div class="small-12 large-9 columns">

    <!-- Errors, if there are any -->
    <div ng-if="ctrl.errors">
      <div data-alert class="alert-box alert">
        <span ng-repeat="error in ctrl.errors">{{error}}<br></span>
        <a href="#" class="close">&times;</a>
      </div>
    </div>

    <div class="row">
      <h3>Tickets <span class="small grey">{{ctrl.open.length}} open, {{ctrl.progress.length}} in progress, {{ctrl.closed.length}} closed</span></h3>
    </div>

    <!-- Search box -->
    <div class="row">
      <input type="text" ng-model="query" placeholder="Type to search">
    </div>

    <div class="row" ng-if="!ctrl.tickets.length">
      <h4 class="grey">No tickets {{ctrl.filter.current}}</h4>
    </div>

    <div ng-repeat="ticket in ctrl.tickets | orderBy:'created':true | filter:query" class="row expandable-list-item">
      <!-- Header -->
      <div class="row header cursor-pointer" ng-click="ctrl.visibility.toggle(ticket)">
        <div class="small-9 columns">
          <strong>{{ticket.subject}}</strong>
        </div>
        <div class="small-3  columns align-right">
          <span>{{ticket.prettyStatus}}</span>
        </div>
      </div>
      <!-- Content -->
      <div class="row content" ng-if="ctrl.visibility.check(ticket)">
        <div class="small-12 columns">
          <hr>
          <!-- Reply to -->
          <div class="row">
            <div class="small-2 columns">
              <strong>Reply to:</strong>
            </div>
            <div class="small-10 columns">
              {{ticket.name}} &lt;<a href="mailto:{{ticket.replyTo}}?subject=RE: {{ticket.subject}}">{{ticket.replyTo}}</a>&gt;
            </div>
          </div>
          <!-- Worker (if applicable) -->
          <div class="row" ng-if="ticket.worker">
            <div class="small-2 columns">
              <strong>Staff member:</strong>
            </div>
            <div class="small-10 columns">
              <a href="mailto:{{ticket.worker}}">{{ticket.worker}}</a>
            </div>
          </div>
          <!-- Status -->
          <div class="row">
            <span ng-if="!ticket.editingStatus">
              <div class="small-2 columns">
                <strong>Status:</strong>
              </div>
              <div class="small-10 columns">
                <a href="" class="black" ng-bind="ticket.prettyStatus" ng-click="ctrl.status.edit(ticket)"></a>
              </div>
            </span>
            <span ng-if="ticket.editingStatus">
              <form ng-submit="ctrl.status.save(ticket)">
                <div class="small-12 columns">
                  <div class="row collapse">
                    <div class="small-8 columns">
                      <select ng-model="ticket.prettyStatus">
                        <option value="Open">Open</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Closed">Closed</option>
                      </select>
                    </div>
                    <div class="small-2 columns">
                      <button type="submit" class="button postfix">Save</a>
                    </div>
                    <div class="small-2 columns">
                      <a href="" class="button postfix alert" ng-click="ctrl.status.cancel(ticket)">Cancel</a>
                    </div>
                  </div>
                </div>
              </form>
            </span>
          </div>
          <!-- Time Created -->
          <div class="row">
            <div class="small-2 columns">
              <strong>Created:</strong>
            </div>
            <div class="small-10 columns">
              {{ticket.created | date:'short'}}
            </div>
          </div>
          <!-- Body -->
          <div class="row">
            <div class="small-2 columns">
              <strong>Body:</strong>
            </div>
            <div class="small-10 columns">
              {{ticket.body}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</requirestaff>